/* add custom styles */
.psnImg{
  float: left;
  /*padding-right: 15px;*/
}
.main{
  text-align: center;
}
.logo{
  height: 50px;
}
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.gameRow{
  padding: 10px;
}
body {
  padding-top: 50px;
  position: relative;
}
.similar {
  position: absolute;
  right: 10%;
  top: 30px;
}

li{
  font-size: 18px;
}

.item > img{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.messegesBox{
  position: relative;
  height: 280px;
  width: 75%;
  background-color: #e6e6e6;
}
.messeges{
  height: 250px;
  width: 100%;
  margin: 15px;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
}
.chatForm{
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.inputField{
  width: 80%;
}
.inputBtn{
  width: 20%;
  float: right;
}
.right{
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 60px;
  width: 50%;
  background-color: lightblue;
  border-radius: 20px;
  align-self: flex-end;
}
.left{
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  width: 50%;
  background-color: lightgrey;
  border-radius: 20px;
}

.psnPageBtns{
  width: 100%;
}
.game{
  background-color: #e6e6e6;
  border-radius: 20px;
  border: 5px solid white;
}
