/* add custom styles */
.psnImg{
  float: left;
  padding-right: 15px;
}

.gameRow{
  padding: 10px;
}
body {
  padding-top: 50px;
  position: relative;
}
.similar {
  position: absolute;
  right: 10%;
  top: 30px;
}

li{
  font-size: 18px;
}

.messegesBox{
  position: relative;
  height: 280px;
  width: 75%;
  background-color: #e6e6e6;
}
.messeges{
  height: 250px;
  width: 100%;
  margin: 15px;
  overflow: scroll;
  position: relative;
}
.chatForm{
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.inputField{
  width: 80%;
}
.inputBtn{
  width: 20%;
  float: right;
}
.right{
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  margin-right: 60px;
  width: 50%;
  background-color: lightblue;
  border-radius: 20px;
}
.left{
  font-size: 18px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 60px;
  width: 50%;
  left: 10px;
  background-color: lightgrey;
  border-radius: 20px;
}
