
<div ng-repeat="row in psnCtrl.games" class="row gameRow">
  <div ng-repeat="game in row" class="col-md-6">
    <img class="psnImg" src="{{game.trophyTitleIconUrl}}" alt="" />
    <h4>{{game.trophyTitleName}}</h4>
    <p>{{game.fromUser.progress}}% Trophies</p>
    <button class="btn btn-success" ng-click="psnCtrl.findFriends(game.fromUser.onlineId, game.trophyTitleName, game.trophyTitleIconUrl)">See Possible Friends</button>
    <button class="btn btn-info" ng-click="psnCtrl.changeTime(game.fromUser.onlineId, game.trophyTitleName, game.trophyTitleIconUrl)">Change Times</button>
  </div>
</div>
